{% include  'template_header.html' %}
<div class="row">
    <div class="col">
        <h1>Traffic Lights AI - YOLO</h1>
        <button class="btn btn-success">Neues Projekt erstellen</button>
    </div>
    <div class="col" style="width: 50%">
        <div style="border: 1px solid black">
            <table class="table table-striped" >
                <thead>
                    <tr>
                        <th>Projekt</th>
                        <th>Löschen</th>
                        <th>Starten</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bosch Data Set</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-trash"></i>
                        </td>
                        <td>
                            <i class="fa-sharp fa-solid fa-play" style="color:#039303 "></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include  'template_footer.html' %}
